<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  	<!-- <script type="text/javascript" src="jquery.easing.1.3.js"></script> -->
  	<link rel="stylesheet" href="/static/mstest/base.css" type="text/css" media="screen" charset="utf-8" />
  	<script type="text/javascript" src="/static/mstest/script.js"></script>
</head>
<body>
<h1>Welcome to the Modulator</h1>
<div id="module_source">
<div class="module">
<h1>SM1</h1>
</div>
<div class="module">
<h1>SM2</h1>
</div>
</div>
<div id="builder">
<div class="module">
<h1>M1</h1>
</div>
<div class="module">
M2
</div>
<div class="module">
<p>M3 sadfj sadljf asf slkfdj as fas fsa lskaj fsa jfk jfa</p>
</div>
</div>
</body>